body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    /* max-width: 1158px; */
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
} 
/*============HEADER===========*/

.header {
    /* padding: 24px 0; */
    padding: 16px 0;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    /* margin-right: 332px; */
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    
}

.header-logo-part {
    color: #2E2F42;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    border: none;

}

.nav-link-list {
    /* display: flex; */
    justify-content: space-between;
    /* gap: 40px; */
    display: none;
}

.nav-link-list:last-child {
    margin-right: 0;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.adress-list {
    /* display: flex; */
    /* gap: 40px; */
    display: none;
}

.adress-list:last-child {
    margin-right: 0;
}

.address-link {
    color:  #434455;
    /* font-size: 16px; */
    font-size: 12px;
    font-weight: 400;
    /* line-height: 1.5; */
    line-height: 1.2;
    /* letter-spacing: 0.02em; */
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.close-menu-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 24px;
}

.close-menu-btn:hover,
.close-menu-btn:focus {
    background-color: #404BBF;
}

.mob-link-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ocean {
    color: #404bbf;
}

.mob-link:hover,
.mob-link:focus,
.mob-address:hover,
.mob-address:focus {
    color: #404bbf;
}

.mob-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-address {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.active {
    color: #404bbf;
}

.mob-icon-list {
    display: flex;
    gap: 40px;
}

/*=============================*/

/*============HERO=============*/

.hero {
    /* padding: 188px 0; */
    padding: 72px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-image-mob.jpg);
    /* max-width: 1440px; */
    max-width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-mob2x.jpg);
    }
}

.hero-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #FFF;
    text-align: center;
    /* font-size: 56px; */
    font-size: 36px;
    font-weight: 700;
    /* line-height: 1.07; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* max-width: 496px; */
    max-width: 216px;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
}

.hero-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*=============FEATURES=========*/

.features, .team, .portfolio {
    /* padding-top: 120px; */
    /* padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-item-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    row-gap: 72px;
}

.features-list {
    /* width: calc((100% - 72px) / 4); */
}

.feature-icon-list {
    background-color: #f4f4fd;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
}

.feature-icon{
    display: none;
}

.features-item {
    color: #2E2F42;
    /* font-size: 20px; */
    font-size: 36px;
    /* font-weight: 500; */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.features-text {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=============================*/

/*============TEAM===========*/

.team {
    background-color: #F4F4FD;
}

.team-container {
    width: 294px;
    padding-left: 15px;
    padding-right: 15px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    row-gap: 72px;
    /* align-items: center; */
}

.team-item {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-text {
    padding: 32px 0;
}

.team-person {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}
.soc-icon {
    fill: #f4f4fd;
}

/*=============================*/

/*============PORTFOLIO===========*/

.portfolio {}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 24px; */
    row-gap: 48px;
    
}
.portf-li {
    /* max-width: 360px; */
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-li:hover,
.portf-li:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.portf-li:hover .portfolio-cover-container,
.portf-li:focus .portfolio-cover-container {
    transform: translateY(0);
}

.portfolio-overflow {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-container {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=============================*/

/*============FOOTER===========*/

.footer {
    /* padding: 100px 0; */
    padding: 96px 0;
    background-color: #2E2F42;
}

.footer-container {
    display: flex;
    /* align-items: baseline; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo-text {
    /* margin-right: 120px; */
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    text-align: left;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* max-width: 264px; */
    max-width: 288px;
}

.footer-soc-media {
    padding: 72px 0;
}

.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icon-item {
    width: 40px; 
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color:#31d0aa;
}

.subscribe {
    /* margin-left: 80px; */
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    /* display: flex; */
    /* gap: 24px; */
}

.footer-sub-text {
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.footer-sub-text::placeholder {
    color: #ffffff;
}

.sub-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;        
    border-radius: 4px;
    padding: 8px 24px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover,
.sub-btn:focus {
    background-color: #404bbf;
}

.icon-send {
    fill: #fff;
    margin-left: 16px;
}

/*=============================*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    /* width: 408px; */
    width: 288px;
    /* min-height: 584px; */
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #fff;
}

.modal-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-field {
    margin-bottom: 8px;
    width: 100%;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-input:hover + .modal-icon,
.form-input:focus + .modal-icon {
    fill: #4d5ae5;;
}

.form-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-field-comment {
    width: 100%;
    margin-bottom: 16px;
}

.coment {
    width: 100%;
    min-height: 120px;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
    margin-bottom: 24px;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    position: relative;
    display: flex;
}

.check-privacy {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;    
}

.form-check:checked +.check-text span {
    background-color: #404bbf;;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
}

.form-btn {
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border:none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus { 
    background-color: #404bbf;
}

@media screen and (max-width: 767px) {

    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 24px 24px 40px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .close-menu-btn {
        width: 24px;
        height: 24px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-bottom: 24px;
    }

    .close-menu-btn:hover,
    .close-menu-btn:focus {
        background-color: #404BBF;
    }

    .mob-link-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mob-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .ocean {
        color: #404bbf;
    }

    .mob-link:hover,
    .mob-link:focus,
    .mob-address:hover,
    .mob-address:focus {
        color: #404bbf;
    }

    .mob-adress-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }

    .mob-address {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .active {
        color: #404bbf;
    }

    .mob-icon-list {
        display: flex;
        gap: 40px;
    }
}

@media screen and (min-width: 768px) {
        
    .container {
        width: 768px;
    }

    /*============HEADER===========*/

    .header {
        padding: 24px 0;
    }

    .nav-link-list {
        display: flex;
        gap: 40px;
    }

    .open-menu-btn {
        display: none;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-logo {
        margin-right: 120px;
    }

    /*============HERO===========*/

    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-tab2x.jpg);
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /*===========FEATURES============*/

    .features-item-list {
        column-gap: 24px;
    }

    .features-list {
        width: calc((100% - 24px) / 2);
    }

    .features-item {
        text-align: left;
    }

    /*============TEAM===========*/

    .team-container {
        width: 582px;
        
    }

    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    /*============PORTFOLIO===========*/
    
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .portf-li {
        width: calc((100% - 24px) / 2);
    }

    /*============FOOTER===========*/

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        width: 582px;
        align-items: flex-start;
        text-align: left;
    }
    
    .footer-logo-soc {
        display: flex;
    }

    .footer-soc-media {
        padding: 0;
    }
    
    .footer-logo-text {
        margin-right: 24px;
    }

    .footer-text {
        max-width: 264px;
    }

    .subscribe {
        margin-top: 72px;
    }

    .footer-sub-text {
        width: 264px;
        margin-bottom: 0;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    /*============MODAL=================*/

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

}

@media screen and (min-width: 1158px) {
    
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .features, .team, .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /*============HEADER===========*/

    .header-logo {
        margin-right: 76px;
    }

    .adress-list {
        display: flex;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }



    /*============HERO===========*/

    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

    /*==========FEATURES===========*/

    .features-list {
    width: calc((100% - 72px) / 4);
    }

    .feature-icon-list {
        display: flex;
    }

    .feature-icon {
        display: flex;
    }

    /*============TEAM===========*/

    .team-list {
        align-items: center;
    }
    .team-item {
        width: calc((100% - 72px) / 4);
    }
    
    /*============PORTFOLIO===========*/
        
    .portfolio-list {
        row-gap: 48px;
    }

    .portf-li {
        width: calc((100% - 48px) / 3);
    }

    /*============FOOTER===========*/

    .footer-container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        
    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .subscribe {
        margin-left: 80px;
    }

    /*=============================*/
}

